.post-list {
  li {
    border-left: #555555 1px solid;
    border-radius: 10px;
    padding: 0 7px;
    position: relative;
    h3 {
      margin-bottom: 0;
    }
  }
}

.post-link {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: $brand-color;
    text-shadow: 0 0 1px #445588;
  }
}

.badge {
  position: absolute;
  right: 2px;
  top: 2px;
  display: inline-block;
  border: #555555 1px solid;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 4px;
}

.pinned {
  background-color: darkgreen;
  color: white;
  font-style: oblique;
  right: 13px
}

.pinned:before {
  content: "! ";
  border-radius: 2em;
  text-shadow: 0 0 3px lightgreen;
}

.project-card {
  background: white;
  margin-bottom: 2em;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  display: flex;
}

//.project-card a {
//  color: black;
//  text-decoration: none;
//  position: relative;
//}

.project-card a:hover {
  text-decoration: none;
  color: inherit;
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.project-card a {
  text-decoration: none;
  color: inherit;
}

.card-body {
  padding: 1.4em;
  z-index: 10;
}

.card-body h2 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: bold;
}

.card-body p {
  font-size: 80%;
}

@media screen and (min-width: 40em) {
  .project-window {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -1em;
  }

  .project-card {
    flex: 0 1 calc(50% - .5em);
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 60em) {
  .project-window {
    margin-top: inherit;
  }

  .project-card {
    flex: 0 1 calc(33% - 1em);
    margin-bottom: 2em;
  }
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

@media screen and (min-width: 52em) {
  .centered {
    max-width: 52em;
  }
}

.link-card {
  position: absolute;
  display: flex;
  bottom: 5px;
  background: lightgrey;
  width: 100%;
}

.link-card > * {
  margin: auto;
  color: black;
}

.invisible {
  opacity: 0;
}

.fill {
  width: 100%
}

// Social Media Badges

.social-media-badges > span {
  display: inline-block;
  border-radius: 4px;
  padding: 0 4px;
  background-color: lighten($brand-color, 10);
  border: 1px solid $brand-color;

  *, *:hover {
    text-decoration: none;
    color: darken($brand-color, 20);
  }

  .svg-icon {
    vertical-align: baseline;
  }

  &:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.progress-bar {
  width: 100%;
  //background-color: $brand-color-dark;
  padding: 3px 2px;
  border-radius: 2px;

  > div {
    width: 1px;
    height: 100%;
    background-color: $brand-color;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;

    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
  }
}

.collection {
  margin-right: 20px;
  &:not(:last-child) {
    margin-bottom: 20px;
    @media print {
      margin-bottom: 10px;
    }
  }

  > .title {
    border-bottom: 4px solid $brand-color;
  }
  > .item {
    margin-bottom: 15px;
    padding: 1px 10px;
    display: block;

    @media print {
      margin-bottom: 5px;
    }
    > .title {
      margin-bottom: 0;
    }
    > .tag {
      font-style: italic;
      color: $brand-color;
      padding: 0 10px;
      border-radius: 5px;
      text-transform: uppercase;
      background-color: $brand-color-light;
      display: inline-block;

      @media print {
        background-color: $brand-color;
      }

      margin-bottom: 10px;
      @include relative-font-size(0.9);

      @include media-query($on-laptop) {
        @include relative-font-size(0.8);
      }

      &:not(:last-of-type):after {
        margin-right: 10px;
      }
    }
    > .about {
      color: $brand-color;
    }
    &:hover {
      cursor: pointer;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background-color: $background-highlight;
      text-decoration: none;
    }
  }
}

.theme-trigger {
  position: absolute;
  right: 20px;
}