@media print {
    body{
        background-color: $background-color;
    }

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        color: black !important;
    }

    .print-hidden {
        display: none;
    }


}