---
layout: default
title: Blog
permalink: /blog/
order: 3
---
<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {% assign sorted_posts = paginator.posts | default: site.posts | sort: "date" | sort: "pinned", "last" %}

    {%- if site.posts.size > 0 -%}
    <ul class="post-list">

        {%- for post in sorted_posts -%}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {% if post.pinned %}
            <span class="badge pinned">Pinned</span>
            {% endif %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }} <a href="{{ post.url | relative_url }}">Read More</a>
            {%- endif -%}

        </li>
        {%- endfor -%}
    </ul>

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">
            &laquo; Prev
        </a>
        {% else %}
        <span>&laquo; Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <em>{{ page }}</em>
        {% elsif page == 1 %}
        <a href="{{ paginator.previous_page_path | relative_url }}">
            {{ page }}
        </a>
        {% else %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
            {{ page }}
        </a>
        {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">
            Next &raquo;
        </a>
        {% else %}
        <span>Next &raquo;</span>
        {% endif %}
    </div>
    {% endif %}

    <p class="rss-subscribe">Subscribe
        <a href="{{ "/feed.xml" | relative_url }}">
            via RSS
            <svg class="svg-icon inline">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg>
        </a>
    </p>
    {%- endif -%}

</div>
