---
layout: project-home
title: Projects
permalink: /projects/
---
<div class="project-window centered">
    {% for project in site.projects %}
    <span class="project-card">
		<a class="fill" href={{ project.url }}>
			<div class="card-body">
				<div class="header">
					<h1> {{ project.short }} </h1>
				</div>
				{{ project.excerpt }}
			</div>
		</a>
		{% if project.link %}
		<a href="{{ project.link }}" class="link-card"> <span>See Website</span> </a>
		{% endif %}
	</span>
    {% endfor %}
</div>