---
layout: default
title: Blog
permalink: /blog/
order: 3
display: true

collection: posts
---
<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {% assign sorted_posts = paginator.posts | default: site.posts | sort: "date" | reverse %}

    {%- if site.posts.size > 0 -%}
    <div class="collection">

        {%- for page in sorted_posts -%}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <!--<h3>-->
        <!--<a class="post-link" href="{{ post.url | relative_url }}">-->
        <!--{{ post.title | escape }}-->
        <!--</a>-->
        <!--</h3>-->

        <!--<span class="post-meta">{{"A"}}</span>-->
        <!--{%- if site.show_excerpts -%}-->
        <!--{{ post.excerpt }} <a href="{{ post.url | relative_url }}">Read More</a>-->
        <!--{%- endif -%}-->

        <a class="item" style="position: relative" href="{{page.url | remove: '.html'}}">
            <h3 class="title">{{page.title}}</h3>
            {% if page.pinned %}
            <span class="badge pinned">Important</span>
            {% endif %}
            <span class="tag">{{  page.date | date: date_format  }}</span>
            <div class="about">{{page.excerpt}}</div>

        </a>
        {%- endfor -%}
    </div>

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
        <a class="paginate-box" href="{{ paginator.previous_page_path | relative_url }}">
            Prev
        </a>
        {% else %}
        <span class="paginate-box inactive-page">Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <em class="paginate-box active-page">{{ page }}</em>
        {% elsif page == 1 %}
        <a class="paginate-box" href="{{ paginator.previous_page_path | relative_url }}">
            {{ page }}
        </a>
        {% else %}
        <a class="paginate-box" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
            {{ page }}
        </a>
        {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
        <a class="paginate-box" href="{{ paginator.next_page_path | relative_url }}">
            Next
        </a>
        {% else %}
        <span class="paginate-box inactive-page">Next</span>
        {% endif %}
    </div>
    {% endif %}

    <p class="rss-subscribe">Subscribe
        <a href="{{ "/feed.xml" | relative_url }}">
        via RSS
        <svg class="svg-icon inline">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
        </svg>
        </a>
    </p>
    {%- endif -%}

</div>
