<footer class="site-footer h-card print-hidden">
    <data class="u-url" href="{{ "
    /" | relative_url }}"></data>
    <div class="wrapper">
        <div class="footer-heading">
            {{site.title}}
        </div>
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <ul class="contact-list">
                    <li class="p-name">
                        Contact Site Owner
                    </li>
                    {%- if site.email -%}
                    <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {%- endif -%}
                </ul>
            </div>

            <div class="footer-col">
                <div>
                    {%- include social.html -%}
                </div>
            </div>

            <!--<div class="footer-col footer-col-3">-->
            <!--<div class="p-name">About</div>-->
            <!--<div>{{- site.description | escape -}}</div>-->
            <!--</div>-->
        </div>

    </div>

</footer>
