<div class="skill-meter">
    {%- for skill in site.skills -%}
    <div class="skill">
        {{ skill.name }}
        <div data-progress="{{skill.confidence}}" class="progress-bar">
        </div>
    </div>
    {%- endfor -%}
</div>

<script>

    var animateHTML = function () {
        var elems;
        var windowHeight;

        function init() {
            elems = document.querySelectorAll('.progress-bar:not(.loaded)');
            windowHeight = window.innerHeight;
            for (var i = 0; i < elems.length; i++) {
                var elem = elems[i];
                var progress = elem.getAttribute("data-progress");
                elem.innerHTML = "<div>" + progress + "</div>";
            }
            addEventHandlers();
            checkPosition();

        }

        function addEventHandlers() {
            window.addEventListener('scroll', checkPosition);
            window.addEventListener('resize', init);
        }

        function checkPosition() {
            for (var i = 0; i < elems.length; i++) {
                var positionFromTop = elems[i].getBoundingClientRect().top;
                if (positionFromTop - windowHeight <= 0) {
                    var sub = elems[i].getElementsByTagName("div")[0];
                    var progress = elems[i].getAttribute("data-progress");
                    elems[i].classList.add("loaded");
                    sub.setAttribute("style", "width:" + progress + "%")
                }
            }
        }

        return {
            init: init
        };
    };
    animateHTML().init();


</script>