<script>
    function theme() {
        var themes = [
            "light", "dark"
        ];

        function toggle() {
            var body = document.getElementsByTagName("body")[0];
            var state = getState();

            var next = themes.indexOf(state) + 1;
            if (next >= themes.length) {
                next = 0;
            }

            setState(themes[next]);
        }

        function getState() {
            var state = localStorage.getItem("theme");
            if (!themes.includes(state)) {
                setState("light");
                state = "light"
            }

            return state
        }

        function setState(state) {
            var body = document.getElementsByTagName("body")[0];
            localStorage.setItem("theme", state);
            for (var i in themes) {
                if (body.classList.contains(themes[i])) {
                    body.classList.remove(themes[i])
                }
            }
            body.classList.add(state);
        }

        function rememberTheme() {
            setState(getState());
        }

        function addTransitions() {
            var body = document.getElementsByTagName("body")[0];
            body.classList.add("transition");
        }

        function init() {
            rememberTheme();
            window.addEventListener("load", addTransitions);
        }

        return {
            'init': init,
            'toggle': toggle
        }
    }

    theme().init()

</script>

<div class="theme-toggle" onclick="theme().toggle()">
    <svg id="light-icon" class="theme-icon">
        <use xlink:href="/assets/minima-social-icons.svg#sun"></use>
    </svg>
    <svg id="dark-icon" class="theme-icon">
        <use xlink:href="/assets/minima-social-icons.svg#moon"></use>
    </svg>
</div>
