<script>
    function theme() {
        var body;
        var themeIcons = {
            'dark': "/assets/minima-social-icons.svg#moon",
            'light': "/assets/minima-social-icons.svg#sun"
        };


        function toggle() {
            var body = document.getElementsByTagName("body")[0];
            var toggle = document.getElementById("use-icon");
            if (body.classList.contains("dark")) {
                body.classList.remove("dark");
                localStorage.setItem("theme", "light");
                if (toggle) {
                    toggle.setAttribute('xlink:href', themeIcons.dark)
                }
            } else {
                body.classList.add("dark");
                localStorage.setItem("theme", "dark");
                if (toggle) {
                    toggle.setAttribute('xlink:href', themeIcons.light)
                }
            }

        }


        function rememberTheme() {
            if (localStorage.getItem("theme") === "dark") {
                var toggle = document.getElementById("use-icon");
                toggle.setAttribute('xlink:href', themeIcons.light)
            }
        }

        function addTransitions() {
            body.classList.add("transition");
        }

        function init() {
            body = document.getElementsByTagName("body")[0];
            if (localStorage.getItem("theme") === "dark") {
                toggle();
            }
            window.addEventListener("load", addTransitions);
            window.addEventListener("DOMContentLoaded", rememberTheme)
        }

        return {
            'init': init,
            'toggle': toggle
        }
    }
    theme().init()

</script>

<a href="#" class="theme-trigger" onclick="theme().toggle()"><svg class="theme-icon"><use id="use-icon" xlink:href="/assets/minima-social-icons.svg#moon"></use></svg></a>