<script>
    function theme() {
        var body;
        function toggle() {
            var body = document.getElementsByTagName("body")[0];
            var toggle = document.getElementById("theme");
            if (body.classList.contains("dark")) {
                body.classList.remove("dark");
                localStorage.setItem("theme", "light");
                if (toggle) {
                    toggle.innerText = "Light"
                }
            } else {
                body.classList.add("dark");
                localStorage.setItem("theme", "dark");
                if (toggle) {
                    toggle.innerText = "Night"
                }
            }

        }


        function rememberTheme() {
            if (localStorage.getItem("theme") === "dark") {
                var toggle = document.getElementById("theme");
                toggle.innerText = "Night"
            }
        }

        function addTransitions() {
            body.classList.add("transition");
        }

        function init() {
            body = document.getElementsByTagName("body")[0];
            if (localStorage.getItem("theme") === "dark") {
                toggle();
            }
            window.addEventListener("load", addTransitions);
            window.addEventListener("DOMContentLoaded", rememberTheme)
        }

        return {
            'init': init,
            'toggle': toggle
        }
    }
    theme().init()

</script>

<a id="theme" href="#" class="page-link theme-trigger" onclick="theme().toggle()">Light</a>