---
# Only the main Sass file needs front matter (the dashes are enough)
---

$text-color:       #fff !default;
$background-color: #222 !default;
$background-highlight: lighten($background-color, 5);
$brand-color: #d0d0d5 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

@import "main";
