---
---
.collection {
  &.print-hidden {
    * {
      color: #990000 !important;
    }
  }

  display: flex;
  flex-direction: column;
  > .item.print-hidden {
    //background-color: lightcoral;
    * {
      color: #990000 !important;
    }
  }
}

.side-button {
  position: fixed;
  cursor: pointer;
  display: block;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1px 4px;
  max-width: 50px;
  color: black;
  &#reset {
    top: 0;
    left: 0;
    background-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: none;
  }
}

