---
# Only the main Sass file needs front matter (the dashes are enough)
---

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$background-highlight: darken($background-color, 5);
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

@import "main";
