---
# Only the main Sass file needs front matter (the dashes are enough)
---

$text-color:       #222 !default;
$link-color: lighten($text-color, 20%);

$background-color: #fdfdfd !default;
$background-highlight: darken($background-color, 10%);

$brand-color:      #4784b7 !default;
//$brand-color-light: lighten($brand-color, 20%);
//$brand-color-light: darken($brand-color, 40%);

@import "main";
